.Carousel__image{
    width: 97%;
    /* display: flex;
    justify-content: center; */
    z-index: -1;
    /* overflow: hidden; */
       
    /* margin-bottom: -300px; */

}

.Slider{
    width: 99%;
    z-index: 0;
    margin-bottom: -20%;
}
.Sliderimg{
    width: 100%;
    mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));
    /* margin-bottom: -22%; */
    
}
/* .row{
    background-color: red;
} */